<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Demo Project</title>
        <!-- The app.css below needs a '/'. Adding a '/' will make it search for app.css in teh root directory. -->
        <link rel="stylesheet" href="/app.css">
    </head>
    <body>
